@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-theme-color: #5f3afc;
  --deep-theme-color: #1b133f;
  --sub-back-color: #646e8a;
  --sub-white-1: #f4f5f7;
  --sub-white-border: #edeef3;
  --sub-black: #1a152e;
  --back-shadow: 0px 10px 20px 0px rgb(8 0 42 / 8%);
  --back-shadow-second: 0px 10px 20px 0px rgb(8 0 42 / 8%);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: var(--main-theme-color) !important;
  transition: 0.3s;
}
.owl-theme .owl-dots .owl-dot span{
  background: var(--sub-white-1) !important;
  border: 2px solid var(--main-theme-color);
}