.catagory_list ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 25px auto;
}

.catagory_list ul li {
  background: var(--sub-white-1);
  padding: 6px 30px;
  font-size: 16px;
  border: 1px solid var(--sub-white-border);
  border-radius: 2px;
  color: var(--sub-back-color);
  cursor: pointer;
  transition: 0.3s;
}

.catagory_items {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: center;
  max-width: 80%;
}

.item_box {
  aspect-ratio: 1/1;
  width: 150px;
  position: relative;
  box-sizing: border-box;
  margin: 10px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: var(--back-shadow);
}

.item_box img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.nav_menu a li:hover {
  color: var(--main-theme-color);
}
.active_list_li {
  color: white !important;
  background: var(--main-theme-color) !important;
  border-color: var(--main-theme-color) !important;
}

.section_heading {
  text-align: center;
  margin: 50px auto;
}

.section_heading h3 {
  font-size: 45px;
  color: var(--sub-black);
}

.section_heading p {
  margin: 10px auto;
  color: #55545b;
  font-size: 17px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 90%;
  margin: auto;
}

.nav_logo {
  max-width: 125px;
  margin-right: 20px;
}

.nav_logo img {
  width: 100%;
  height: 100%;
}

.nav_menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_menu a {
  text-decoration: none;
  color: black;
}
.submenu_container {
  position: relative;
  display: flex;
  cursor: pointer;
}

.sub_menu {
  position: absolute;
  top: 17px;
  left: -8px;
  flex-direction: column;
  background: aquamarine;
  width: 137px;
  padding: 10px;
}

.main_menu li {
}

.sub_menu li {
}

.sub_menu a {
  width: 100%;
}

.sub_menu li::before {
  content: "";
  width: 10px !important;
  height: 28px !important;
  background: gray;
}

.submenu_container {
  position: relative;
  display: flex;
  cursor: pointer;
}

.sub_menu {
  position: absolute;
  top: 80px;
  left: -8px;
  flex-direction: column;
  background: white;
  width: 137px;
  padding: 14px 28px;
  border-radius: 3px;
  transition: 0.4s cubic-bezier(0, 1.18, 1, 1);
  opacity: 0;
  pointer-events: none;
  box-shadow: var(--back-shadow);
}

.main_menu li {
  padding: 10px 20px;
  color: whitesmoke;
  transition: 0.3s;
}

.sub_menu li {
  padding: 6px 0px;
  width: 100%;
  transition: 0.2s;
  color: var(--sub-back-color);
}

.sub_menu a {
  width: 100%;
}

.sub_menu li::before {
  content: "";
  width: 10px !important;
  height: 28px !important;
  background: gray;
}

.sub_menu li:hover {
  color: var(--main-theme-color);
}
.submenu_container:hover .sub_menu {
  top: 42px;
  pointer-events: all;
  opacity: 1;
}
.nav_left {
  display: flex;
  justify-content: space-between;
}

.nav_search input {
  border: 2px solid var(--main-theme-color);
  font-size: 16px;
  padding: 1px;
  text-indent: 7px;
  color: var(--sub-white-1);
  border-radius: 23px 0px 0px 23px;
  outline: none;
  font-weight: 400;
  text-indent: 10px;
  background: var(--sub-black);
  border-right: none;
}

.nav_search button {
  border: 2px solid var(--main-theme-color);
  background: var(--sub-black);
  font-size: 0px;
  padding: 0px 11px;
  color: white;
  border-radius: 0px 23px 23px 0px;
  cursor: pointer;
  transition: 0.2s;
  border-left: none;
}

.nav_search {
  display: flex;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--sub-black);
}
.top_banner {
  background: url("https://cdn.pixabay.com/photo/2018/01/23/11/28/water-3101241_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.banner_heading {
  color: white;
  text-align: center;
  width: 65%;
  margin: auto;
  padding: 13% 0px;
  padding-top: 9%;
}

.banner_heading h3 {
  font-size: 65px;
  line-height: 80px;
  margin-bottom: 50px;
}
.banner_box_con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner_box_img img {
  max-width: 60px;
}

.banner_box {
  text-align: center; /* aspect-ratio: 1/1; */
  display: inline;
  width: 200px;
  box-shadow: var(--back-shadow);
  padding: 22px 25px;
  margin: 15px;
  border-radius: 6px;
  transform: translateY(-58%);
  background: white;
}
.nav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard_btn a, .banner_heading a, .extend_btn button {
    text-decoration: none;
    color: white;
    background: var(--main-theme-color);
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.2s;
    border: none;
    outline: none;
    cursor: pointer;
}

.dashboard_btn {
    padding: 9px 0px;
    padding-left: 10px;
    border-left: 2px solid white;
}

.dashboard_btn a:hover, .banner_heading a:hover {
    opacity: 0.95;
}

.nav_search button:hover {
    opacity: 0.95;
}
.footer_top_con {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--sub-white-border);
    padding: 6% 9%;
    margin-top: 70px;
    padding-bottom: 2%;
}

.mid_page_info {
    display: contents;
}

.mid_page_info ul {list-style: none;}

.mid_page_info ul a {
    text-decoration: none;
    color: var(--sub-back-color);
    transition: 0.4s;
    position: relative;
}

.mid_page_info h3 {
    color: var(--sub-black);
}
.mid_page_info h3 {
    margin-bottom: 20px;
}
.mid_page_info a:hover {
    color: var(--main-theme-color);
    padding-left: 14px;
}

.mid_page_info a {}

.mid_page_info ul li a::after {
    position: absolute;
    top: 50%;
    left: 3px;
    width: 0px;
    height: 1px;
    background: gray;
    content: "";
    transform: translateY(-50%);
    transition: 0.4s;
}

.mid_page_info a:hover::after {
    width: 9px;
    color: var(--main-theme-color);
}
.right_news h3 {
    margin-bottom: 25px;
}

.right_news p {
    color: var(--sub-back-color);
}

.footer_subscribe_input input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 9px 17px;
    border-radius: 5px 0px 0px 5px;
}

.footer_subscribe_input button {
    border: none;
    outline: none;
    background: var(--main-theme-color);
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.footer_subscribe_input {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    box-shadow: 0px 2px 3px 0px rgb(8 0 42 / 10%);
    width: max-content;
}
.footer_btm_com {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    width: 80%;
    margin: auto;
    color: var(--sub-back-color);
    border-top: 1px solid #1a152e29;
}

.footer_end_right ul {
    list-style: none;
    display: flex;
}

.footer_end_right ul a {
    margin: 10px;
    color: var(--sub-back-color);
}

footer {
    background: var(--sub-white-border);
}
.footer_logo img {
    max-width: 150px;
}

.bar_con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 20px;
  /* background: gainsboro; */
  /* margin-left: 20px; */
  cursor: pointer;
  padding: 12px;
  transition: 0.5s;
}

.bar_con div {
  width: 30px;
  height: 3px;
  /* margin: 16px; */
  background: var(--sub-white-1);
  transform-origin: right;
  transition: 0.3s;
}

.bar_con:hover {
  transform: rotate(-40deg);
}

.bar_con:hover #bar1 {
  width: 10px;
}

.bar_con:hover #bar2 {
  width: 20px;
}

.side_bar {
    position: relative;
    top: 0;
    right: 0;
    max-width: 400px;
    z-index: 1;
    background: var(--deep-theme-color);
    min-height: 100vh;
    box-sizing: border-box;
}

.top_logo_close img {
    max-width: 100%;
}

.top_logo_close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side_bar_logo {
    max-width: 40%;
}

.side_bar_close_btn {
    /* background: wheat; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--sub-back-color);
    color: var(--sub-white-1);
    transition: 0.4s cubic-bezier(0.4, 0.25, 0.3, 1.3);
    flex-direction: column;
    overflow: hidden;
}

.close_x {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    overflow: hidden;
}

.side_bar_close_btn:hover {
    width: 90px;
    border-radius: 3px;
}
.close_txt {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side_bar_list ul {
    list-style: none;
    color: white;
}

.side_bar_list a {
    text-decoration: none;
    color: white;
}

.side_bar_list li {
    border-bottom: 1px solid #edeef34a;
    font-size: 20px;
    /* padding: 10px 0px; */
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
}

.side_bar_list {
    margin-top: 25px;
    padding: 30px;
    padding-right: 0px;
}

.sub_menu_li>span {border-left: 1px solid;margin-left: auto;height: 60px;display: flex;justify-content: center;align-items: center;aspect-ratio: 1/1;cursor: pointer;}

.sub_menu_ul {
    display: none;
    width: 100%;
    padding-left: 20px;
}

.sub_menu_li>span>span {
    font-size: 40px;
}

.sub_menu_li {
    flex-direction: column;
    text-align: left;
    height: max-content !important;
    align-items: flex-start !important;
    justify-content: center !important;
}

.sub_menu_li p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #edeef34a;
    cursor: pointer;
    transition: 0.3s;
}

.sub_menu_li p>span {
    height: 60px;
    border-left: 1px solid #edeef34a;
    margin-left: auto;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.sub_menu_li p>span>span {
    font-size: 40px;
    transition: 0.3s;
}

.sub_menu_ul a:last-child li {border: none;}

ul.sub_menu_ul li {
    border-bottom: 1px solid #edeef34a;
}

.side_bar_list li:hover:not(.sub_menu_li p>span>span) {
    color: var(--main-theme-color);
}

.sub_menu_btn_actv{
  color: var(--deep-theme-color);
  transform: rotate(45deg);
}

.sub_menu_p_actv{
  background: var(--sub-white-1);
  color: var(--deep-theme-color);
  padding-left: 10px;
}
.side_bar_sec {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    overflow: hidden;
    overflow-y: scroll;
}

.side_bar_con {
    padding: 30px;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: var(--sub-white-1);
}

::-webkit-scrollbar-thumb {
    background: var(--deep-theme-color);
}
.side_bar_back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000052;
    z-index: 1;
}